<mat-toolbar color="primary">
  <span>
    <a *ngIf="!isInitiated" >MyMessages</a>
    <a *ngIf="isInitiated"  routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isAdmin">
        <a mat-button routerLink="/addvid" routerLinkActive="mat-accent">Add a Video</a>
    </li>
    <li *ngIf="isAdmin">
      <a mat-button routerLink="/scheduling" routerLinkActive="mat-accent">Scheduling</a>
  </li>
    <li>
        <a mat-button routerLink="/excercises" routerLinkActive="mat-accent">Excercises</a>
    </li>
    <li *ngIf="isAuthenticated && isInitiated">
        <a mat-button routerLink="/calendar" routerLinkActive="mat-accent">Calendar</a>
    </li>
    <li *ngIf="isAuthenticated && isInitiated">
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent">My Profile</a>
    </li>
    <li>
      <a *ngIf="!isAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li >
        <a *ngIf="!isAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
    <li *ngIf="isAuthenticated">
      <a mat-button (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
