<mat-toolbar color="primary">
  <span>
    <a *ngIf="!userIsInitiated" >MyMessages</a>
    <a *ngIf="userIsInitiated"  routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
        <a mat-button routerLink="/excercises" routerLinkActive="mat-accent">Excercises</a>
    </li>
    <li *ngIf="userIsAuthenticated && userIsInitiated">
        <a mat-button routerLink="/calendar" routerLinkActive="mat-accent">Calendar</a>
    </li>
    <li *ngIf="userIsAuthenticated && userIsInitiated">
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent">My Profile</a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li >
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onLogout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
