<div class="center">
  <div class="center">
  <p-listbox class="center" [options]="pending" [(ngModel)]="selected">
    <p-header>
      <i class="fa fa-car"></i>
      List of People Pending for a Training
    </p-header>
    <ng-template let-pending let-i="index" pTemplate="item">
      <div class="ui-helper-clearfix" (click)=onClick(pending.userId,pending.email)>
        <p>{{pending.email}}</p><br>
    </div>
    </ng-template>
    <p-footer>
      Selected: {{this.selected1}}
  </p-footer>
</p-listbox>
</div>
<div style="display:flex">
<div>
lista svih trening
</div>
<div>
lista specificnog treninga
</div>
</div>

<div style="display:flex">
  <div class="example-container">
    <h2>List of excercises</h2>

    <div
      cdkDropList
      #excercisesList="cdkDropList"
      [cdkDropListData]="vids"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let vid of vids" class="example-box-{{vid.type}}" cdkDrag>
        <img src="https://img.youtube.com/vi/{{vid.link}}/2.jpg" >
        {{vid.name}}
        {{vid.type}}
        {{vid.note}}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Excercises to do</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="selectedVids"
      [cdkDropListConnectedTo]="[excercisesList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let vid of selectedVids" class="example-box-{{vid.type}}"  cdkDrag>
          <img src="https://img.youtube.com/vi/{{vid.link}}/2.jpg">
          {{vid.name}}
          {{vid.type}}
          {{vid.note}}
          <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="vid.n" placeholder="Broj ponavljanja" type="number" name="n">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="vid.s" placeholder="Broj serija" type="number" name="s">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="vid.w" placeholder="Opterecenje" type="number" name="weight">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <mat-card>
  <mat-form-field class="example-full-width">
    <textarea matInput [(ngModel)]="note" placeholder="Leave a note"></textarea>
  </mat-form-field>
  </mat-card>
  <button (click)=send()>Send a Record</button>
  </div>

