<div class="center" >

  <p>Vi ste {{ this.gender }}</p>
  <p>Vasa masa je {{ this.weight }} </p>
  <p>Visoki ste {{ this.height }} cm</p>
  <p>Vi {{ this.ili(this.ever) }} trenirali</p>
  <p>Vi {{ this.ili(this.mth) }} trenirali u poslednjih 6 meseci</p>
  <p>Vi {{ bol(hurt) }} </p>
  <p>Vi {{ teg(diss) }} </p>
  <p>Vi {{ this.ili(this.alch) }} konzument alkohola</p>
  <p>Vi {{ this.ili(this.smoke) }} konzument cigareta</p>
  <p>Vi radite {{ this.work }} sati nedeljno </p>
</div>
<hr>

<div class="center" *ngIf="training">
  <mat-card>
    <p-virtualScroller [value]="vids" scrollHeight="750px" [itemSize]="">
      <ng-template pTemplate="item" let-vids>
        <div class="{{ vids.type }}">
          <p class="naslov">{{ vids.name }}<p><br>
          <div class=flex-container>
            <div display="inline" width="100%" height="100%" float="left" >
              <youtube-player
              [videoId]="vids.link"
              (ready)="savePlayer($event)"
              (change)="onStateChange($event)"
              ></youtube-player>
            </div>
            <div display="inline">
                <p>Opterecenje: {{ vids.w }}</p>
                <p>Broj Serija: {{ vids.s }}</p>
                <p>Broj Ponavljanja po Seriji: {{ vids.n }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </mat-card>
  <mat-card>
      <h3>Savet pri vezbanju</h3>
      <p>{{note}}</p>
  </mat-card>

  <mat-card>
    <h3>Zapazanja</h3>
    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="comment" placeholder="Komentar" required></textarea>
    </mat-form-field>
    <h3>Koliko vezbi iz zadatog treninga ste uradili</h3>
    <button class="nula" mat-button (click)="qualityPick(1)">0%</button>
    <button class="jedan" mat-button (click)="qualityPick(2)">25%</button>
    <button class="dva" mat-button (click)="qualityPick(3)">50%</button>
    <button class="tri" mat-button (click)="qualityPick(4)">75%</button>
    <button class="cetiri"mat-button (click)="qualityPick(5)">100%</button>
  </mat-card>
  <mat-card>
    <button  (click)="sendResponse()" mat-raised-button >Posaljite odgovor</button>
  </mat-card>


</div>


