  <H1>My Profile</H1>

  <h3>Vi ste {{ this.gender }}</h3><br>
  <h3>Vasa masa je {{ this.weight }} </h3><br>
  <h3>Visoki ste {{ this.height }} cm</h3><br>
  <h3>Vi {{ this.ili(this.ever) }} trenirali</h3><br>
  <h3>Vi {{ this.ili(this.mth) }} trenirali u poslednjih 6 meseci</h3><br>
  <h3>Vi {{ bol(hurt) }} </h3><br>
  <h3>Vi {{ teg(diss) }} </h3><br>
  <h3>Vi {{ this.ili(this.alch) }} konzument alkohola</h3><br>
  <h3>Vi {{ this.ili(this.smoke) }} konzument cigareta</h3><br>
  <h3>Vi radite {{ this.work }} sati nedeljno </h3><br>

