  <H1>My Profile</H1>

  <h1>Vi ste {{ this.gender }}</h1><br>
  <h1>Vasa masa je {{ this.weight }} </h1><br>
  <h1>Visoki ste {{ this.height }} cm</h1><br>
  <h1>Vi {{ this.ili(this.ever) }} trenirali</h1><br>
  <h1>Vi {{ this.ili(this.mth) }} trenirali u poslednjih 6 meseci</h1><br>
  <h1>Vi {{ bol(hurt) }} </h1><br>
  <h1>Vi {{ teg(diss) }} </h1><br>
  <h1>Vi {{ this.ili(this.alch) }} konzument alkohola</h1><br>
  <h1>Vi {{ this.ili(this.smoke) }} konzument cigareta</h1><br>
  <h1>Vi radite {{ this.work }} sati nedeljno </h1><br>

